body {
    font-family: Arial, Helvetica, sans-serif;
    font-
}

nav {
    display: flex;
    justify-content: space-between;
}

.con {
    display: flex;
    
}

.burg {
    display: none;
        
}

a {
    text-decoration: none;
    margin: 10px;
}

span {
    color: red;
}

h6 {
    color: rgb(212, 68, 147);
    
}

h1 {
    font-weight: 900;
}

.like {
    display: flex;
}

.like {
    background-image: url(./assets/graphic.svg);
    background-position-x: right;
    background-size: 400px;
    background-repeat: no-repeat;
    object-fit: cover;
}

.like-text {
    margin-right: 300px;
}

button {
    background-color: white;
    padding: 10px 30px;
    border-radius: 30px;
    border-color: red yellow red red;
    margin-bottom: 50px;


}

.pav {
    background-image: url(./assets/background.svg);
    background-position: center;
    background-size: 100%;
    padding: 30px;
    background-repeat: no-repeat;
}

.brands {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

h5 {
    font-size: 40px;
}

.cont {
    display: flex;
    gap: 30px;
    margin-left: 20px;
}

.corusel {
    display: flex;
}

.series {
    width: 290px;
    /* height: 150px; */
    background-color: rgb(228, 222, 222);
    margin-left: 20px;
    border-radius: 20px;


}

.ser {
    color: red;
    font-size: 12px;
    padding-top: 50px;
}

.group {
    display: flex;
    justify-content: space-evenly;
}

.name {
    display: flex;
    justify-content: space-around;
   
}

.sku {
    display: flex;
    justify-content: space-evenly;
}

.like2 {
    background-image: url(./assets/upsell-footer-image.svg);
    background-position-x: right;
    background-size: 150px;
    background-repeat: no-repeat;
    object-fit: cover;
   
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    color: grey;
}

.foot {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    color: grey;
    grid-column-end: end;
}

@media only screen and (max-width: 768px) {
/* 
    footer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-column: 1fr;
        color: grey;
    } */
    



    .foot {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        color: grey;
        grid-column-end: end;
    }

    .pav {
        background-image: url(./assets/background.svg);

        background-position: center;
        background-size: cover;
        padding: 30px;
        background-repeat: no-repeat;
    }

    .con {
        display: none;
        
    }

    .burg {
        display: block;
            
    }

}
